<!DOCTYPE html>
<html>
<head>
    <title>Testing title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Testing Home Page</h1>
    <form method="post">
        <label name="begYear">Begining Year</label>
        <input name="begYear" type="number" />

        <label name="endYear">Ending Year</label>
        <input name="endYear" type="number" />

        <button type="submit"> Submit </button>

    </form>

</body>
</html>