@model List<MVCBreakout.Models.TimePerson>

<!DOCTYPE html>
<html>
<head>
    <title>Testing title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Testing Results Page</h1>
</body>
</html>