@model List<lab11FirstMVC.Models.TimePerson>

<!DOCTYPE html>
<html>
<head>
    <title>Testing title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Testing Results Page</h1>
    @foreach (var person in Model)
    {
        <p>@person.Name</p>
    }
</body>
</html>